#nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#menu {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
}

#menu1 {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
}

#menu ul,
#menu1 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border: 3px solid wheat;
    cursor: pointer;
    width: 100%;
}

@media (max-width: 600px) {
    button {
        width: 100%;
    }
}

.invisible {
    display: none;
}